app-sidenav-regards-cars-documents {
  .content-wrapper {
    width: 50%;
  }

  .actions-column {
    width: 60px;
  }

  .cloud_icon {
    float: left;
    color: white !important;
  }

  .circle_icon {
    float: right;
    color: white !important;
  }
}