<!-- <form [formGroup]="sDrivers" (ngSubmit)="onSubmit()">
    <div class="col-span-2 sidenav-driver-content">
        <p>Status:</p>
        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" [formControlName]="'toggle_buttons'">
            <mat-button-toggle value="active" (click)="onSubmit()">Active</mat-button-toggle>
            <mat-button-toggle value="retired">Retired</mat-button-toggle>
        </mat-button-toggle-group>
        <p>Vehicle:</p>
        <div class="vehicle-form-field">
            <mat-form-field floatLabel="never">
                <input [formControlName]="'vehicle'" matInput type="text" placeholder="Vehicle">
            </mat-form-field>
        </div>
        <p>Driver Name:</p>
        <div class="driver_name-form-field">
            <mat-form-field appearance="fill" floatLabel="never">
                <mat-select placeholder="Sal." [formControlName]="'salutation'">
                    <mat-option value="mr">Mr.</mat-option>
                    <mat-option value="mrs">Mrs.</mat-option>
                    <mat-option value="ms">Ms.</mat-option>
                    <mat-option value="n/a">N/A</mat-option> -->
                    <!-- TODO: Options with array iteration -->
                    <!-- <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                    {{food.viewValue}}
                    </mat-option> -->
                <!-- </mat-select>
            </mat-form-field>
            <mat-form-field floatLabel="never">
                <input matInput [formControlName]="'driver-first_name'" type="text" placeholder="First Name">
            </mat-form-field>
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="Initial" [formControlName]="'driver-initial'">
            </mat-form-field>
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="Last Name" [formControlName]="'driver-last_name'">
            </mat-form-field>
        </div>
        <p>Driver ID:</p>
        <div class="driver_id-form-field">
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="Last Name" [formControlName]="'driver-id'">
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="never">
                <mat-select placeholder="Availability" [formControlName]="'driver-availability'">
                    <mat-option value="Available">Available</mat-option>
                    <mat-option value="on_vacantion">On Vacantion</mat-option>
                    <mat-option value="short_break">Short Break</mat-option> -->
                    <!-- TODO: Options with array iteration -->
                    <!-- <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                        {{food.viewValue}}
                    </mat-option> -->
                <!-- </mat-select>
            </mat-form-field>
        </div>
        <p>Address:</p>
        <div class="address-form-field">
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="Country" [formControlName]="'address-country'">
            </mat-form-field>
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="City" [formControlName]="'address-city'">
            </mat-form-field>
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="Address" [formControlName]="'address'">
            </mat-form-field>
        </div>
        <p>Birth Date:</p>
        <div class="birth_date-form-field">
            <p>TODO: DATEPICKER</p>
        </div>
        <p>Citizenship:</p>
        <div class="citizenship-form-field">
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="#1" [formControlName]="'first_citizenship'">
            </mat-form-field>
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="#2" [formControlName]="'second_citizensip'">
            </mat-form-field>
        </div>
        <p>E-mail:</p>
        <div class="email-form-field">
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="E-mail address" [formControlName]="'email'">
            </mat-form-field>
        </div>
        <p>*Phone number:</p>
        <div class="phone-form-field">
            <mat-form-field floatLabel="never">
                <input matInput type="text" [formControlName]="'first-phone_number'">
            </mat-form-field>
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="active">CELL</mat-button-toggle>
                <mat-button-toggle value="retired">HOME</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field floatLabel="never">
                <input matInput type="text" [formControlName]="'second-phone_number'">
            </mat-form-field>
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" [formControlName]="'second-phone_number'">
                <mat-button-toggle value="active">CELL</mat-button-toggle>
                <mat-button-toggle value="retired">HOME</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <p>Hired:</p>
        <div class="hired-form-field">
            <p>TODO: DATEPICKER</p>
            <mat-form-field floatLabel="never">
                <input matInput type="text" placeholder="By" [formControlName]="'employer'">
            </mat-form-field>
        </div>
        <p>Driving Experience:</p>
        <div class="driving_experience-form-field">
            <p>Since:</p>
            <p>TODO: DATEPICKER</p>
            <p>For:</p>
            <mat-form-field floatLabel="never">
                <input matInput type="number" placeholder="Years" [formControlName]="'for-driving_experience'">
            </mat-form-field>
        </div>
        <p>Pay Targets:</p>
        <div class="pay_targets-form-field">
            <p>1 Week:</p>
            <mat-form-field floatLabel="never">
                <input matInput type="number" placeholder="USD" [formControlName]="'week-pay_targets'">
            </mat-form-field>
            <p>1 Mounth:</p>
            <mat-form-field floatLabel="never">
                <input matInput type="number" placeholder="USD" [formControlName]="'month-pay_targets'">
            </mat-form-field>
        </div>
        <p>Payment Type:</p>
        <div class="payment_type-form-field">
            <mat-form-field appearance="fill" floatLabel="never">
                <mat-select placeholder="Payment Type" [formControlName]="'payment-type'">
                <mat-option value="Per_Mile">Per Mile</mat-option>
                <mat-option value="Per_Hour">Per Hour</mat-option>
                    <!-- TODO: Options with array iteration -->
                <!-- <mat-option *ngFor="let salutation of salutations" [value]="salutation.value">
                    {{food.viewValue}}
                </mat-option> -->
                <!-- </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>  -->
