<div class="new-command flex grid grid-cols-6">
    <mat-form-field floatLabel='never' class="customername-form-field">
        <input matInput type="text" [(ngModel)]='customer_name'>
        <input matInput type="number" [(ngModel)]='id'>
    </mat-form-field>
    <span class="order-form-field col-start-2 w-400px">
        <mat-form-field floatLabel='never' class="driver-form-field mt-0 ">
            <i class="fas fa-map-marker-alt location_icon"></i>
            <mat-label class="label-color">Starting point</mat-label>
            <input matInput type="text" [(ngModel)]='starting_point'>
        </mat-form-field>
        <mat-form-field floatLabel='never' class="driver-form-field mt-0">
            <i class="fas fa-map-marked-alt location_icon"></i>
            <mat-label class="label-color">Destination</mat-label>
            <input matInput type="text" [(ngModel)]='destination'>
        </mat-form-field>
    </span>
    <div class="ngx-timepicker-field ml-70px w-225px">
        <ngx-timepicker-field [buttonAlign]="'left'" [format]="24" [(ngModel)]='timepicker'></ngx-timepicker-field>
    </div>
    <span class="order-form-field col-start-4 w-400px">
        <mat-form-field floatLabel='never' class="driver-form-field mt-0">
            <i class="fas fa-dollar-sign location_icon" (click)="openSidenav('rates', id)"></i>
            <mat-label class="label-color">Profit</mat-label>
            <input matInput type="number" [(ngModel)]='amount_profit'>
        </mat-form-field>
        <mat-form-field floatLabel='never' class="driver-form-field mt-0">
            <i class="fas fa-user-secret location_icon" (click)="openSidenav('drivers', id)"></i>
            <mat-label class="label-color">Driver</mat-label>
            <input matInput type="text" [(ngModel)]='driver_name'>
        </mat-form-field>
    </span>
    <span class="h-60px w-470px ml-75px">
        <textarea placeholder="Notes" class="h-27px w-470px notes p-0px">{{ notes }}</textarea>
    </span>
    <i class="fas fa-trash trash_button" (click)="CommandDeleted()"></i>
</div>
