<material-shared-table
    [sharedDataSource]="dataSource"
>
    <material-shared-text-column
        [name]="'driver_code'"
        columnLabel="Driver Code"
    ></material-shared-text-column>
    <material-shared-text-column
        [name]="'availability'"
        columnLabel="Availability"
    ></material-shared-text-column>
    <material-shared-text-column
        [name]="'miles'"
        columnLabel="Miles"
    ></material-shared-text-column>
    <material-shared-text-column
        [name]="'target'"
        columnLabel="Target"
    ></material-shared-text-column>
    <material-shared-text-column
        [name]="'notes'"
        columnLabel="Notes"
    ></material-shared-text-column>
    <material-shared-text-column
        [name]="'earnings'"
        columnLabel="Earnings"
    ></material-shared-text-column>
</material-shared-table>