<material-shared-table
    [sharedDataSource]="dataSource"
>
    <material-shared-text-column
        columnLabel="Driver Code"
        [name]="'driver_code'"
    ></material-shared-text-column>
    <material-shared-text-column
        columnLabel="Second Driver Code"
        [name]="'secondDriverCode'"
    ></material-shared-text-column>
    <material-shared-text-column
        columnLabel="Third Driver Code"
        [name]="'thirdDriverCode'"
    ></material-shared-text-column>
</material-shared-table>