<mat-toolbar class="toolbar">
    <div class="navigation_routes">
        <!-- The class below is applied when routerLink match the value -->
        <!-- It targets the routerLink in anchor tag -->
        <div routerLinkActive="navigation_active" *ngFor="let tab of tabs">
            <!-- That routerLink is responsable just for PageFrameSidenavComponent
                children array!! -->
            <a
                routerLinkActive="active_tab"
                [routerLink]="tab.path"
            >
                <span>
                    {{ tab.title }}
                </span>
            </a>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
