app-page-frame-sidenav {
    .sidenav-navigation_routes {
        display: flex;
    }

    .sidenav_toolbar {
        background-color: #424242;
        margin: 0 !important;
        padding: 10px 16px 0 16px;
    }

    .sidenav-active_tab {
        background-color: antiquewhite;
    }
}