<mat-toolbar class="toolbar">
    <div class="naviagation_routes">
        <!-- The class below is applied when routerLink match the value -->
        <!-- It targets the routerLink in a tag -->
        <div routerLinkActive="navigation_active" *ngFor="let tab of tabs">
            <a
                routerLinkActive="active_tab"
                [routerLink]="[].concat(tab.path)"
            >
                <span>
                    {{ tab.title }}
                </span>
            </a>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
