<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [(opened)]="openSidenav" (closed)="onSidenavClosed()" position="end" class="sidenav-class">
        <mat-tab-group animationDuration="0ms">
            <mat-tab *ngFor="let tab of tabs">
                <ng-template mat-tab-label>
                    <span (click)="changeSidenavPage(tab)">{{tab}}</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <router-outlet></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>