<!-- <mat-toolbar class="toolbar">
    <div class="naviagation_routes"> -->
        <!-- The class below is applied when routerLink match the value -->
        <!-- It targets the routerLink in a tag -->
        <!-- <div routerLinkActive="navigation_active" *ngFor="let tab of pageConfiguration.tabs">
            <a
                routerLinkActive="active_tab"
                [routerLink]="[{ outlets: { tab: [tab.path]} }]"
            >
                <span>
                    {{ tab.title }}
                </span>
            </a>
        </div>
    </div>
    <div class="buttons"></div>
</mat-toolbar> -->
<router-outlet></router-outlet>
