<div class="navigation" id="sidenav-navigation" >
    <ul>
        <li (click)="onSelect('queue')">
            <a href="#">
            <span class="icon"><i class="fas fa-route"></i></span>
            <span class="title">Queue</span>
            </a>
        </li>
        <li (click)="onSelect('progress')">
            <a href="#">
            <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
            <span class="title">In progress</span>
            </a>
        </li>
        <li (click)="onSelect('cars')">
            <a href="#">
            <span class="icon"><i class="fas fa-car"></i></span>
            <span class="title">Cars</span>
            </a>
        </li>
        <li (click)="onSelect('trucks')">
            <a href="#" >
            <span class="icon"><i class="fas fa-truck"></i></span>
            <span class="title">Trucks</span>
            </a>
        </li>
        <li (click)="onSelect('drivers')">
            <a href="#" >
            <span class="icon"><i class="fas fa-user"></i></span>
            <span class="title">Drivers</span>
            </a>
        </li>
        <li (click)="onSelect('personnel')">
            <a href="#" >
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="title">Personnel</span>
            </a>
        </li>
    </ul>
</div>
<div class="header-dimensions">
    <span class="nav-trigger-button" id="content-main-pages" (click)="navOpen()"></span>
    <span class="credentials">
        Hi,{{login_name}} !
        <i class="far fa-bell"></i>
        <i class="fas fa-power-off"></i>
    </span>
</div><hr id="horizontal-line">
