app-page-frame {
    .drawer-wrapper {
        margin-top: -17px;
    }
    
    .mat-toolbar {
        height: 50px;
        display: flex;
        margin-left: 77px;
        background-color: white;
        align-items: flex-start !important;
    }
    
    .naviagation_routes {
        border: 1px solid black;
        height: 32px;
        border-radius: 10%;
    }

    .drawer-wrapper {
        background: white;
        height: 882px;
        margin-top: -17px;
    }
    
    .sidenav {
        width: 1640px;
    }
}
