.new-command {
  width: 1806px;
  height: 63px;
  border-width: 2px;
  border-radius: 8px;
  border-style: inset;
  border-color: #e6b300;
  border-top-color: black;
  border-left-color: black;
  margin-left: 7px;
  margin-top: 23px;

  .customername-form-field {
    padding-left: 10px;
    width: 272px;

    .mat-form-field-infix {
      position: absolute;
      bottom: 13px;
    }

    .mat-form-field-wrapper {
      position: static !important;
      height: 44px !important;
    }
  }

  .label-color {
    margin-left: 25px;
    color: #C4C5C6
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field.mat-focused {
    .mat-form-field-ripple {
      background-color: #C4C5C6;
    }
  }

  .driver-form-field {
    width: 180px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 9px;
  }

  .order-form-field {
    margin-top: 13px;
    margin-left: -20px;

    .location_icon {
      margin-left: 3px;
    }

    .mat-form-field-wrapper {
      position: static !important;
      height: 30px !important;

      .mat-form-field-flex {
        height: 30px;

        .mat-form-field-infix {
          position: relative;
          bottom: 15px;

          input.mat-input-element {
            width: 150px;
            margin-left: 7px;
          }
        }
      }
    }
  }

  .textarea-position {
    .mat-form-field-infix {
      width: 470px;
      margin-top: -15px;
      height: 65px;
    }
  }

  .notes {
    border: outset;
    border-width: 2px;
    border-color: #e6b300;
    margin-top: 12px;
    height: 31px;
  }

  .save_button {
    width: 16px;
    height: 16px;
    margin-left: 255px;
    margin-top: 10px;
    cursor: pointer;
  }

  .p-0px {
    padding: 0px;
    overflow: hidden;
  }

  .ngx-timepicker-field {
    width: 41%;
    }

  ngx-timepicker-field {
    .ngx-timepicker-control__arrows {
      display: none !important;
    }

    .ngx-timepicker-control {
      width: 45px !important;
      border-bottom: 1px solid black;
    }

    .ngx-timepicker__time-colon {
      margin-left: -5px !important;
    }
  }
}
