<div>
  Merge
  <!-- <shared-tooltip [tooltipConfig]="viewDocumentsTooltipConfig">
    <div class="view_document-table">
      <material-shared-table
        #viewDocumentTable
        [sharedDataSource]=""
      >
        <material-shared-actions-column
          name="documentAction"
          headerClass=""
          dataClass=""
        ></material-shared-actions-column>
        <material-shared-text-column
          name="fileName"
          columnLabel="File Name"
          [contentEditable]="true"
          headerClass=""
          dataClass=""
        ></material-shared-text-column>
        <material-shared-text-column
          name="fileType"
          columnLabel="Type"
        ></material-shared-text-column>
        <material-shared-text-column
          name="documentNotes"
          columnLabel="Notes"
          [contentEditable]="true"
        ></material-shared-text-column>
        <material-shared-text-column
          name="userName"
          columnLabel="User ID"
        ></material-shared-text-column>
        <material-shared-actions-column
          name="documentViewAction"
        ></material-shared-actions-column>
      </material-shared-table>
    </div>
  </shared-tooltip> -->
</div>