/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


    // Classes made by our team

    .main_page-position {
        margin-top: -17px;
        margin-left: 77px;
        z-index: 900;
    }

// Width Classes
.w-225px {
    width: 225px;
}

.w-400px {
    width: 400px;
}

.w-470px {
    width: 470px;
}

// Margin Classes:
    // Margin Left Classes
.ml-5px {
    margin-left: 5px !important;
}

.ml-10px {
    margin-left: 10px;
}

.ml-70px {
    margin-left: 70px;
}

.ml-75px {
    margin-left: 75px;
}

.ml-255px {
    margin-left: 255px;
}

    // Margin Top Classes
.-mt-33px {
    margin-top: -33px;
}

.mt-10px {
    margin-top: 10px
}

//Height Classes:
.h-27px {
    height: 27px;
}

.h-60px {
    height: 60px;
}

.mat-input-element {
    color: black !important;
}

textarea, i {
    color: black !important;
}

.cdk-overlay-pane.shared-tooltip {
    background: white;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 4px 1px lightgray;
    padding: 16px;
    font-size: 14px;
}

.arrow {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid;
    border-color: transparent transparent lightgray lightgray;
    box-shadow: -1px 1px lightgrey;

    &.arrow-bottom {
        left: 50%;
        top: calc(100% + 11px);
        transform: translate(-50%, calc(100% - 33px)) rotate(-45deg);
    }

    &.arrow-top {
        left: 50%;
        top: -11px;
        transform: translate(-50%, calc(-100% + 19px)) rotate(135deg);
    }

    &.arrow-left {
        left: -11px;
        top: 50%;
        transform: translate(calc(-100% + 19px), -50%) rotate(45deg);
    }

    &.arrow-right {
        left: calc(100% + 11px);
        top: 50%;
        transform: translate(calc(100% - 33px), -50%) rotate(-135deg);
    }
}

table {
    width: 100%;
}
