/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


    // Classes made by our team

    .main_page-position {
        margin-top: -17px;
        margin-left: 77px;
        z-index: 900;
    }

// Width Classes
.w-225px {
    width: 225px;
}

.w-400px {
    width: 400px;
}

.w-470px {
    width: 470px;
}

// Margin Classes:
    // Margin Left Classes
.ml-5px {
    margin-left: 5px !important;
}

.ml-10px {
    margin-left: 10px;
}

.ml-70px {
    margin-left: 70px;
}

.ml-75px {
    margin-left: 75px;
}

.ml-255px {
    margin-left: 255px;
}

    // Margin Top Classes
.-mt-33px {
    margin-top: -33px;
}

.mt-10px {
    margin-top: 10px
}

//Height Classes:
.h-27px {
    height: 27px;
}

.h-60px {
    height: 60px;
}