<div class="navigation" id="sidenav-navigation" >
    <ul>
        <li routerLinkActive="active_page-color">
            <a [routerLink]="['/queue/general',{ outlets: { tab: ['queue']} }]">
            <span class="icon"><i class="fas fa-route"></i></span>
            <span class="title">Queue</span>
            </a>
        </li>
        <li routerLinkActive="active_page-color">
            <a [routerLink]="['/in-progress']">
            <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
            <span class="title">In progress</span>
            </a>
        </li>
        <li routerLinkActive="active_page-color">
            <a [routerLink]="['/inventory/cars/main',{ outlets: { tab: ['general']} }]">
            <span class="icon"><i class="fas fa-car"></i></span>
            <span class="title">Cars</span>
            </a>
        </li>
        <li routerLinkActive="active_page-color">
            <a [routerLink]="['/trucks']" >
            <span class="icon"><i class="fas fa-truck"></i></span>
            <span class="title">Trucks</span>
            </a>
        </li>
        <li routerLinkActive="active_page-color">
            <a [routerLink]="['/drivers']" >
            <span class="icon"><i class="fas fa-user"></i></span>
            <span class="title">Drivers</span>
            </a>
        </li>
        <li routerLinkActive="active_page-color">
            <a [routerLink]="['/personnel']" >
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="title">Personnel</span>
            </a>
        </li>
    </ul>
</div>
<div class="header-dimensions">
    <span class="nav-trigger-button" id="content-main-pages" (click)="navOpen()"></span>
    <span class="credentials">
        Hi,{{login_name}} !
        <i class="far fa-bell"></i>
        <i class="fas fa-power-off"></i>
    </span>
</div><hr id="horizontal-line">
